body {
background-color: #0bd790 ;
}
h2 {
color: #7a19a0 ;
}
.mega {
color: black;
}
#hihihi {
    background-color: rgb(32, 129, 185);
}
.murz {
    background-color: rgb(152, 241, 0);
}